@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus-visible:outline-cyan-600;
  }

  body {
    @apply font-Montserrat bg-cyan-600 text-slate-800;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply border-slate-800 placeholder-slate-500 focus:border-cyan-400 
    focus:ring-cyan-400 focus:ring-offset-1 focus:ring-offset-transparent 
    caret-cyan-600;
  }
}

@layer components {
  .clickable-text-cyan {
    @apply font-bold text-cyan-600 underline decoration-slice 
    decoration-cyan-600 cursor-pointer;
  }

  .login-register-button {
    @apply font-Spartan font-bold w-full bg-yellow-400 pb-2 pt-3 text-xl rounded shadow-md
        text-slate-800 mt-4  active:shadow-none 
        focus-visible:outline-cyan-600
          md:mt-8;
  }
}

@layer utilities {
}
