@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus-visible:outline-teal-600;
  }

  body {
    @apply font-Montserrat bg-teal-600 text-black-gray;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply border-black placeholder-black-gray/75 focus:border-teal-400 
    focus:ring-teal-400 focus:ring-offset-1 focus:ring-offset-transparent 
    caret-teal-700;
  }
}

@layer components {
  .clickable-text-teal {
    @apply font-bold text-teal-600 underline decoration-slice 
    decoration-teal-600 cursor-pointer;
  }

  .login-register-button {
    @apply font-Spartan font-bold w-full bg-yellow pb-2 pt-3 text-xl rounded shadow-md
        text-black mt-4  active:shadow-none 
        focus-visible:outline-teal-600
          md:mt-8;
  }
}

@layer utilities {
}
